name: ROS and Conan Integration Test

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
    paths:
      - examples/tools/ros/**

jobs:
  test_conan_release:
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:kilted-desktop

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure environment and install Conan release
      run: |
        apt-get update && apt-get install -y python3 python3-pip python3-venv pipx ros-kilted-nav2-msgs
        pipx install conan
        chmod +x ./examples/tools/ros/rosenv/workspace/test_ros.sh
        chmod +x ./examples/tools/ros/rosenv/navigation_ws/test_ros.sh

    - name: Run printer example
      shell: bash
      run: |
        cd examples/tools/ros/rosenv/workspace
        ./test_ros.sh

    - name: Run navigator example
      shell: bash
      run: |
        cd examples/tools/ros/rosenv/navigation_ws
        ./test_ros.sh

  test_conan_develop2:
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:kilted-desktop

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure environment and install Conan from develop2 branch
      run: |
        apt-get update && apt-get install -y python3 python3-pip python3-venv pipx ros-kilted-nav2-msgs
        pipx install git+https://github.com/conan-io/conan.git
        chmod +x ./examples/tools/ros/rosenv/workspace/test_ros.sh
        chmod +x ./examples/tools/ros/rosenv/navigation_ws/test_ros.sh

    - name: Run printer example
      shell: bash
      run: |
        cd examples/tools/ros/rosenv/workspace
        ./test_ros.sh

    - name: Run navigator example
      shell: bash
      run: |
        cd examples/tools/ros/rosenv/navigation_ws
        ./test_ros.sh
